<div ng-show="$ctrl.isLoginPage" style="text-align: center;">
    <h2>Se connecter</h2>

    <form ng-submit="$ctrl.login()">
        <label for="username">Nom:</label>
        <input type="text" id="username" ng-model="$ctrl.user.username" required><br><br>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" ng-model="$ctrl.user.password" required><br><br>
        <a href="" ng-click="$ctrl.signUp()">S'inscrire</a><br><br>

        <button type="submit">Se connecter</button>
    </form>

    <div ng-if="$ctrl.loginError" style="color: red;">{{ $ctrl.loginError }}</div>
</div>

<div ng-show="!$ctrl.isLoginPage" style="text-align: center;">
    <h2>S'inscrire</h2>

    <form ng-submit="$ctrl.sign()">
        <label for="username">Nom:</label>
        <input type="text" id="username" ng-model="$ctrl.user.username" required><br><br>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" ng-model="$ctrl.user.password" required><br><br>
        <label for="passwordConfirm">Confirmation:</label>
        <input type="password" id="password" ng-model="$ctrl.user.passwordConfirm" required><br>


        <br><a href="" ng-click="$ctrl.signIn()">Se connecter</a><br><br>

        <button type="submit">S'inscrire</button>
    </form>

    <div ng-if="$ctrl.signUpError" style="color: red;">{{ $ctrl.signUpError }}</div>
</div>